@use './../../base';

.openSource {
    min-height: 10vh;
    padding: 1rem;
    background: base.$bg-color;
}

.item {
    margin: 1rem 0rem 1rem 0rem;
    font-size: 0.9rem;
    background: base.$bg-color;
    border-color: white;
    color: base.$text-color;
}

.language {
    font-size: 0.8rem;
}

.repoName {
    font-size: 1.1rem;
}