@use './../../base';

.openSource {
  min-height: 10vh;
  padding: 1rem;
  background: base.$bg-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
}

.item {
  min-height: 15vh;
  width: 40vw;
  margin: 1rem;
  font-size: 0.9rem;
  background: base.$bg-color;
  border-color: base.$text-color;
  color: base.$text-color;
  display: flex;
  flex-direction: column;
}

.language {
  font-size: 0.8rem;
}

.repoName {
    font-size: 1.1rem;
}

/* Media Query */
@media (max-width: 768px) {
  .item{
      min-height: 25vh;
      width: 80vw;
      padding: 1rem;
  }
}
