@use './../../base';

.skill {
  position: relative;
  padding: 5rem 0;

  &__container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1120px) {
        max-width: 1400px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
  }

  &__card {
    flex: 0 0 15.625rem;
    height: 15.625rem;
    margin: 1rem 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fafafa;

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% + 20px);
      height: 50px;
      margin-top: 20px;
      margin-left: -10px;
      background: #070707;
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        border-top: 10px solid #888785;
        border-left: 10px solid transparent;
        left: 0;
        bottom: -10px;
      }

      &::after {
        content: "";
        position: absolute;
        border-top: 10px solid #888785;
        border-right: 10px solid transparent;
        right: 0;
        bottom: -10px;
      }
    }

    &-body {
      overflow-y: auto;
      overflow-x: hidden;
      height: 70%;

      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #c1c1c1;
      }
    }
  }

  &__primary-heading {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__list {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
  }

  &__item {
    background: #fff;
    border: 3px solid #070707;
    color: #070707;
    border-radius: 20px;
    padding: 5px 10px;
    margin: .5rem 5px;
  }

  &__text {
    font-weight: 500;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
  }
}